@charset "UTF-8";

/* 共通部分
------------------------------------------- */

html {
    font-size: 100%;
}

body {
    font-family: "Junge", sans-serif; line-height: 1.7;
    color: #1E4848;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
}


/* ページ内ジャンプ
.jump_point {background-color: #000;

    }
  */




.title {
    color: #0D8772;
    font-size: 40px;
    text-transform: uppercase;
}

.p {
    color: #1E4848;
    font-size: 18px;
}

/* ページトップへ戻るボタン
------------------------------------------- */
  /*
  右下に固定で配置
  */
  #to-top {
    width: 50px;
    height: 50px;
    background-color: #01B695;
    border: solid 1px #fff;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    bottom: 25px;
  }

  /*
  中の三角は疑似要素で作成
  */
  #to-top::after {
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #F9E8ED;
    position: relative;
    left: 17px;
    bottom: 3px;
  }
  
  #to-top:hover {
    background: #019679;
    color: #DDE3EF;
  }



/* HEADER 
------------------------------------------- */
header {
    background-color: #06D6B3;
    /* メニューバー固定 */
    display: block; 
    position: fixed; /*ポジションを固定する*/
    top: 0px; /*一番上に設置*/
    left: 0px;
    z-index: 9999;  /*どの要素よりも上にくるように*/
    width: 100%; /*横幅を100%に*/
    height: 80px;

    display: flex;
    justify-content: space-between;
    }


.logo {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 50px;
}

.menu-lists {
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-right: 50px;
    list-style: none;
}

.menu-list {
    margin-left: 36px;
}

.menu-lists a {
    color: #fff;
}

.menu-lists a:hover {
    color: #2C5656;
}





/* about
------------------------------------------- */
#about {
    background-color: #fff;
    width: 100%;

}

.image-wrapper {
    width: 65%;
    margin: auto;
    display: flex;
}

.image-logo {
    margin:auto;
}

.image-message-desk {
    display: block;
    margin-top: 50px;
    margin-left: 20px;
}


.image-message-mobile {
    display: none;
}

.about-sentence {
    margin-top: 70px;
    margin-left: 60px;
}


/* service
------------------------------------------- */

#service {
    background-color: #F6F9FF;
    width: 100%;
}

.grid {
    width: 70%;
    margin: 50px auto 0px auto;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
}

.service-item {
    height: 40%;
    width: 45%;
    margin:40px auto 0px auto;
}

.service-item p {
    text-align: center;
    margin-top: 5px;
}

.toolsused-sentence {
    width: 58%;
    margin: 80px auto 0px auto;
}



/* works
------------------------------------------- */

#works {
    background-color: #fff;
    width: 100%;
}

.works-item {
    height: 70%;
    width: 70%;
    margin:40px auto 0px auto;
}

.works-item p {
    text-align: center;
    margin-top: 10px;
}






/* スクロール時のフェードイン */
.fade {
	opacity: 0;
	transform: translateY(0px);
	transition: opacity 1.5s, transform 1s;
}.fade.active {
	opacity: 1;
	transform: translateY(0px);
}





/* WORK"".html
------------------------------------------- */

.work-wrapper {
    width: 70%;
    margin: 80px auto 80px auto;
}

.work-title {
    color: #0D8772;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.work-topimage {
    width: 100%;
    margin: auto;
}

.work-sentence {
    margin-top: 50px;
}

.sentence-title {
    font-size: 24px;
    font-weight: lighter;
    width: 30%;
    height: 150px;
}

.sentence-point {
    display: block;
    margin-left: 20px;
}

th {
    background-color: #F6F9FF;
}

td {
    padding: 15px;
}

table, td, th {
    border: 1px solid #A3AFCB;
    letter-spacing: 0.1em;
    line-height: 1.7em;
}

table {
    border-collapse: collapse;
}

.screenshot {
    margin: 100px auto 0px auto;
}

.site-url {
    margin-top: 50px;
}

button {
    width: 200px;
    height: 55px;
    background-color: #01B695;
    color: #fff;
}

button:hover {
    background-color: #019679;
    color: #DDE3EF;
}

/* worksへ戻る */
.works-return {
    display: inline-block;
    margin-top: 50px;

}






/* contact
------------------------------------------- */

#contact {
    background-color: #F6F9FF;
    width: 100%;
}











/* フッター
------------------------------------------- */
footer {
    background-color: #06D6B3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .copyright {
    color: #fff;
    font-size: 18px;
}










/* デスクトップ版
------------------------------------------- */

@media (min-width:601px) {
    #sp-navi {
        display: none;
    }

    /* メインビジュアル */
    .mainvisual {
        background-image: url(../images/mainvisual.png);
        min-height: 100vh;
        width: 100%;
    }


}


/* モバイル版
------------------------------------------- */
@media (max-width:600px) {

    /* 共通 */
    .title {
        font-size: 35px;
    }

        /* HEADER */
    .menu-lists {
        display: none;
    }

    header {
        height: 80px;
    }

    .logo {
        width: 75%;
        height: 80%;
        margin-top: 7px;
        margin-bottom: 5px;
        margin-left: 20px;
    }


    /* メインビジュアル */
    .mainvisual {
        background-image: url(../images/mainvisual_small.png);
        min-height: 110vh;
        width: 100%;
    }


    /* モバイルver.のメニュー */
    .nav-unshown {
        display: none;
    }
    
    /* 閉じる用の薄黒カバー */
    #nav-close {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        display: none;
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 50%);
    }
    
    /* 中身 */
    #sp-navi-in {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
        width: 80%;
        max-width: 560px;
        height: 100%;
        overflow: auto;
        background: #06D6B3;
        transition: .3s ease-in-out;
        transform: translateX(105%);
    }
    
    /* チェックが入ったら表示 */
    #nav-input:checked ~ #nav-close {
        display: block;
    }
    
    /* 中身を表示（スライド） */
    #nav-input:checked ~ #sp-navi-in {
        box-shadow: 6px 0 25px rgb(0 0 0 / 15%);
        transform: translateX(0%);
    }

    .sp-navi-open {
        display: block;
        width: 80%;
        height: 80%;
        margin-top: 10px;
        margin-right: 10px;
    }

    .sp-navi-close {
        display: inline-block;
        width: 15%;
        height: 10%;
        margin-top: 15px;
        margin-left: 10px;
    }

    .sp-navi__navi {
        margin: 80px;
        list-style:none;
    }

    .sp-navi__navi a {
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 35px;

    }

    .sp-navi__navi a:hover {
        color: #1E4848;
    }













    /* about */    

    
    .image-wrapper {
        display: block;

    }
    
    .image-message-mobile {
        display: block;
        margin:auto;
    }
    
    .image-message-desk {
        display: none;
    }
    
    .about-sentence {
        margin:50px auto 0px auto;
    }


    /* WORK"".html */

    .work-wrapper {
        width: 80%;
    }
    
    .work-title {
        font-size: 35px;
    }

    
    .work-sentence {
        margin-top: 30px;
    }
    
    .sentence-title {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 20px;
        font-weight: lighter;
        width: 15%;
        height: 160px;
    }
    
    /* worksへ戻る */
    .works-return {
        margin-top: 30px;
        margin-bottom: 30px;
    }



}



